In [1]:
from sklearn import preprocessing
import pandas as pd
import numpy as np

In [3]:
#Encoding nominal features
features = np.array([['Texas'],
                     ['California'],
                     ['Texas'],
                     ['Delaware'],
                     ['Texas']])
one_hot = preprocessing.LabelBinarizer()
one_hot.fit_transform(features)

array([[0, 0, 1],
       [1, 0, 0],
       [0, 0, 1],
       [0, 1, 0],
       [0, 0, 1]])

In [4]:
one_hot.classes_

array(['California', 'Delaware', 'Texas'], dtype='<U10')

In [5]:
pd.get_dummies(features[:,0])

   California  Delaware  Texas
0       False     False   True
1        True     False  False
2       False     False   True
3       False      True  False
4       False     False   True

In [6]:
multiclass = [('Texas', 'Florida'),
              ('California', 'Alabama'),
              ('Texas', 'Florida'),
              ('Delaware', 'Florida'),
              ('Texas', 'Alabama')]
multi_hot = preprocessing.MultiLabelBinarizer()
multi_hot.fit_transform(multiclass)

array([[0, 0, 0, 1, 1],
       [1, 1, 0, 0, 0],
       [0, 0, 0, 1, 1],
       [0, 0, 1, 1, 0],
       [1, 0, 0, 0, 1]])

In [7]:
multi_hot.classes_

array(['Alabama', 'California', 'Delaware', 'Florida', 'Texas'],
      dtype=object)