In [16]:
import pandas as pd

In [17]:
#Load the CSV file and get information about the dataset
df = pd.read_csv('../data/obesity.csv')
df.rename(columns={'family_history_with_overweight': 'in_family', 'FAVC':'caloric_food_freq','FCVC':'vegetable_in_meals'
                   ,'NCP':'daily_no_of_meals', 'CAEC':'eating_between_meals','CH2O':'daily_water_intake', 
                   'SMOKE':'smoker','SCC':'monitor_caloric_intake','FAF':'physical_activity_freq',
                   'TUE':'time_on_devices','CALC':'alcohol_intake','MTRANS':'transport_means',
                   'NObeyesdad':'obesity_level'}, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Gender                  2111 non-null   object
 1   Age                     2111 non-null   int64
 2   Height                  2111 non-null   float64
 3   Weight                  2111 non-null   float64
 4   in_family               2111 non-null   object
 5   caloric_food_freq       2111 non-null   object
 6   vegetable_in_meals      2111 non-null   float64
 7   daily_no_of_meals       2111 non-null   float64
 8   eating_between_meals    2111 non-null   object
 9   smoker                  2111 non-null   object
 10  daily_water_intake      2111 non-null   float64
 11  monitor_caloric_intake  2111 non-null   object
 12  physical_activity_freq  2111 non-null   float64
 13  time_on_devices         2111 non-null   float64
 14  alcohol_intake          2111 non-null   object
 15  transport_means         2111 non-null   object
 16  obesity_level           2111 non-null   object
dtypes: float64(7), int64(1), object(9)
memory usage: 280.5+ KB

In [ ]:
#Getting descriptive statistics of numerical data of the dataset
df.describe()

,Age,Height,Weight,vegetable_in_meals,daily_no_of_meals,daily_water_intake,physical_activity_freq,time_on_devices
count,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000
mean,24.315964,1.701620,86.586035,2.418986,2.685651,2.008053,1.010313,0.657861
std,6.357078,0.093368,26.191163,0.533996,0.778079,0.612950,0.850613,0.608926
min,14.000000,1.450000,39.000000,1.000000,1.000000,1.000000,0.000000,0.000000
25%,20.000000,1.630000,65.470000,2.000000,2.660000,1.585000,0.125000,0.000000
50%,23.000000,1.700000,83.000000,2.390000,3.000000,2.000000,1.000000,0.625000
75%,26.000000,1.770000,107.430000,3.000000,3.000000,2.480000,1.670000,1.000000
max,61.000000,1.980000,173.000000,3.000000,4.000000,3.000000,3.000000,2.000000